/* screen width for media queries*/

@mixin _1600 {
    @media (min-width: 1600px) {
        @content;
    }
}
@mixin _1440 {
    @media (max-width: 1440px) {
        @content;
    }
}
@mixin _1370 {
    @media (max-width: 1370px) {
        @content;
    }
}
@mixin _1024 {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin _768 {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin _600 {
    @media (max-width: 600px){
        @content;
    }
}

@mixin _475 {
    @media (max-width: 475px) {
        @content;
    }
}
@mixin _425 {
    @media (max-width: 425px) {
        @content;
    }
}

/*common styles*/
@mixin flex-c {
    display: flex;
    align-items: center;
}
@mixin flex-c-c {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-c-btw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin wrapper {
	max-width: 110rem;    
    @include _1600 {
        min-width: 125rem;
	}        
    @include _1370 {
        max-width: 83rem;
	}
    @include _1024 {
        max-width: 62rem;
	}
    @include _768 {
        max-width: 50rem;
	}
    @include _600 {
        max-width: 34rem;
	}
    @include _425 {
        max-width: 25rem;
	}
}	

@mixin font-subtitle {
	font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 4.17rem;
    line-height: 5.58rem;
    letter-spacing: 0;
    @include _768 {
        font-size: 3rem;
    }
}
@mixin font-title {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 5.83rem;
    line-height: 7.75rem;
    letter-spacing: 0.06em;
    @include _768 {
        font-size: 4rem;
    }
}
@mixin font-text {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0.06em;    
}
@mixin font-btn {
    font-size: 1.67rem;
    line-height: 2.5rem;
    letter-spacing: 0.06em;
}
@mixin font-link {
    font-weight: 600;
    font-size: 1.67rem;
    line-height: 2.25rem;
}

@mixin hover {
    @media (hover) {
        &:hover {
            opacity: 0.5;
        }
    }
}

