$color-bg: #2E3DBE;
$color-title: #414141;
$color-light: #fff;
$color-shadow: rgba(0, 0, 0, 0.1);
$color-border: #AAAAAA;
$color-input: #959595;
$color-input-hover: #808080;
$color-error: #E15554;
$color-subtext: #565656;
$color-link: #45688F;
$color-link-hover: #6683A3;
$color-btn: #FF9000;
$color-btn-hover: #FFA42E;
$color-divider: #D4D4D4;
